.container {
    max-width: 62.6%;
    margin: 0 auto;
}

.img {
    width: 50%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.hero {
    position: absolute;
    right: 350rem;
    top: 10rem;
    height: 730rem;
    z-index: -1;
}